# Copyright (c) 2019 Nordic Semiconductor
# SPDX-License-Identifier: Apache-2.0

config MAX30001
	bool "Enable support for the out of tree MAX30001"


config MAX30001_INIT_PRIORITY
	int "MAX30001 init priority"
	default 90
	help
	  MAX30001 initialization priority.

config MAX30001_ECG
	bool "Enable ECG support"
	depends on MAX30001
	help
	  Enable support for the ECG sensor.

config MAX30001_BIOZ
	bool "Enable BIOZ support"
	depends on MAX30001
	help
	  Enable support for the BIOZ sensor.